<div class="card-container">
  <img [src]="imageSrc" alt="book cover" />
  <div class="book-info">
    <div class="title">{{ title }}</div>
    <div class="author">{{ author }}</div>
    <div class="year">{{ year }}</div>
  </div>
  <div class="button-container">
    <button (click)="postBookToLibrary(book)">Add to library</button>
    <div *ngIf="isInLibrary === true">
      <button (click)="editBookStatus(book)">
        {{ status ? "Unread" : "Read" }}
      </button>
      <button (click)="deleteBookToLibrary(book)">Delete</button>
    </div>
  </div>
</div>
