:host {
  display: flex;
  height: 100%;
  background-color: #eeeeee;
}

.sidebar {
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 20px;
  font-size: 1.2rem;
  background-color: #cfcfcf;

  li {
    list-style: none;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }
}

.content {
  padding: 25px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  .info {
    button {
      width: max-content;
      padding: 3px;
    }
  }

  .content-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    width: 100%;
  }

  .pagination {
    padding: 20px;
    font-family: content-font;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: auto;

    button {
      width: 80px;
      padding: 3px;
      cursor: pointer;
    }
  }
}
