<div class="container">
  <form (ngSubmit)="signUp()" [formGroup]="signupForm">
    <div>Create Account</div>
    <div class="row-username">
      <label for="username">Username : </label>
      <input
        type="text"
        name="username"
        formControlName="username"
        placeholder="John"
        required
      />
      <div
        class="error-text"
        *ngIf="signupForm.controls['username'].invalid && isSubmitted"
      >
        <span *ngIf="signupForm.controls['username'].errors"
          >This is required</span
        >
      </div>
      <span *ngIf="errorMessage" class="error-text">{{ errorMessage }}</span>
    </div>
    <div class="row-password">
      <label for="password">Password : </label>
      <input
        type="text"
        name="password"
        formControlName="password"
        placeholder="******"
        required
      />
      <div
        class="error-text"
        *ngIf="signupForm.controls['password'].invalid && isSubmitted"
      >
        <span *ngIf="signupForm.controls['password'].errors"
          >This is required</span
        >
      </div>
    </div>
    <div class="row-fullname">
      <label for="fullname">Fullname : </label>
      <input
        type="text"
        name="fullname"
        formControlName="fullname"
        placeholder="John Smith"
        required
      />
      <div
        class="error-text"
        *ngIf="signupForm.controls['fullname'].invalid && isSubmitted"
      >
        <span *ngIf="signupForm.controls['fullname'].errors"
          >This is required</span
        >
      </div>
    </div>

    <button type="submit" (click)="onSubmit()">Sign up</button>
  </form>
</div>
